[submodule "policy-execution"]
	path = policy-execution
	url = git@github.com:mnemonik-dev/policy-execution.git
[submodule "proof-execution"]
	path = proof-execution
	url = git@github.com:mnemonik-dev/prrof-execution.git
